{% extends 'MapbenderCoreBundle:Template/regional:bootstrap.base.html.twig' %}
{% block head %}
    {# The jLayout JavaScript library provides layout algorithms for laying out components. A component is an abstraction; it can be implemented in many ways, for example as items in a HTML5 Canvas drawing or as HTML elements. The jLayout library allows you to focus on drawing the individual components instead of on how to arrange them on your screen.. #}
    <script src="{{ asset('bundles/mapbendercore/regional/vendor/jquery/jquery.sizes.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/mapbendercore/regional/vendor/jquery/jlayout.border.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/mapbendercore/regional/vendor/jquery/jquery.jlayout.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function($) {
            var layoutContainer = $('body > .regions');

            window.updateLayout = function(e) {
                layoutContainer.layout({resize: false});
                if(!e || e.currentTarget != window){
                    $(window).trigger('resize');
                }

            }

            window.regionUpdateDeclaration = {
                duration: 500,
                complete: updateLayout,
                step:     updateLayout
            };

            $(window).resize(updateLayout);
            updateLayout();
        });
    </script>
{% endblock %}
{% block body %}
    <div data-layout='{"type": "border", "hgap": 0, "vgap": 0}' class="regions">
        <div class="center">
            {% block center %}
                <div>
                    <button id="toggle-north" onclick="$('.north').animate({height: 'toggle'}, regionUpdateDeclaration)">North</button>
                    <button id="toggle-west" onclick="$('.west').animate({width: 'toggle'}, regionUpdateDeclaration)"> West</button>
                    <button id="toggle-south" onclick="$('.south').animate({height: 'toggle'}, regionUpdateDeclaration)"> South</button>
                    <button id="toggle-east" onclick="$('.east').animate({width: 'toggle'}, regionUpdateDeclaration)"> East</button>
                </div>
            {% endblock %}
        </div>

        {% if block('right') is not empty %}
            <div class="east">
                {% block right %}{% endblock %}
            </div>
        {% endif %}

        {% if block('left') is not empty %}
            <div class="west">
                {% block left %}{% endblock %}
            </div>
        {% endif %}

        {% if block('top') is not empty %}
            <div class="north">
                {% block top %}{% endblock %}
            </div>
        {% endif %}

        {% if block('bottom') is not empty %}
            <div class="south">
                {% block bottom %}{% endblock %}
            </div>
        {% endif %}
    </div>

    {% block htmlFooter %}{% endblock %}
{% endblock %}